############## CLOCK #############
NET "CLK"             LOC = "T8";

############### VGA ##############
NET "RGB<2>"           LOC = "M11";
NET "RGB<1>"           LOC = "M9";
NET "RGB<0>"           LOC = "P7";
NET "VGA_HSYNC"       LOC = "M14";
NET "VGA_VSYNC"       LOC = "L13";
