//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 02 22:06:40 2019
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "T8" LEVEL 1;
COMP "VGA_HSYNC" LOCATE = SITE "M14" LEVEL 1;
COMP "VGA_VSYNC" LOCATE = SITE "L13" LEVEL 1;
COMP "RGB<0>" LOCATE = SITE "P7" LEVEL 1;
COMP "RGB<1>" LOCATE = SITE "M9" LEVEL 1;
COMP "RGB<2>" LOCATE = SITE "M11" LEVEL 1;
SCHEMATIC END;

